{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
 <div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
  </button>
 </div>
{% endfor %}
{% endif %}
{% endwith %}
<form action="/add_person" method = "POST">
 <input type="text" name="nombres" placeholder="Nombes">
 <input type="text" name="apellidopaterno" placeholder="Apellidopaterno">
 <input type="text" name="apellidomaterno" placeholder="Apellidomaterno">
 <input type="text" name="dni" placeholder="Dni">
 <input type="text" name="celular" placeholder="Celular">
 <input type="text" name="correo" placeholder="Correo">
 <button type="submit" class="btn btn-primary">
 	Save
 </button>
</form>

<table class="table table-striped table-bordered bg-white">
 <tr>
  <thead>
   <td>nombres</td>
   <td>apellido paterno</td>
   <td>apellido materno</td>
   <td>dni</td>
   <td>celular</td>
   <td>correo</td>
   <td>accion</td>
  </thead>
  <tbody>
   {% for persona in personas %}
    <tr>
     <td> {{persona.1}} </td>
     <td> {{persona.2}} </td>
     <td> {{persona.3}} </td>
     <td> {{persona.4}} </td>
     <td> {{persona.5}} </td>
     <td> {{persona.6}} </td>
     <td> {{persona.7}} </td>
     <td>
      <a href="/edit_person/{{persona.0}}" class="btn btn-warning">edit</a>
      <a href="/delete_person/{{persona.0}}" class="btn btn-danger btn-delete">delete</a>
     </td>
    </tr>
   {% endfor %}
  </tbody>
 </tr>
</table>

{% endblock %}
